[submodule "pi-vpn-pooler"]
	path = pi-vpn-pooler
	url = https://github.com/ilya-maltsev/pi-vpn-pooler.git
[submodule "rlm_python3"]
	path = rlm_python3
	url = https://github.com/ilya-maltsev/rlm_python3.git
