[Unit]
Description=privacyIDEA Docker Compose Stack
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
User=__USER__
WorkingDirectory=__WORKDIR__
TimeoutStartSec=0
RemainAfterExit=yes

Environment=TAG=prod
ExecStart=/usr/bin/docker compose --env-file=environment/prod/compose.env -p prod --profile=stack up -d
ExecStop=/usr/bin/docker compose --env-file=environment/prod/compose.env -p prod --profile=stack stop

[Install]
WantedBy=multi-user.target
